name: Build-and-Test-GCC-Ubuntu

on:
  workflow_dispatch:
  push:
    branches:
    - main
    - dev

jobs:
  Build:
    runs-on: ubuntu-latest
    
    strategy:
      fail-fast: false
      matrix:
        gcc: [12]
        build_type: [Debug, Release]
        std: [20]

    steps:
    - uses: actions/checkout@v4
  
    - name: Install the latest gcc compiler.
      working-directory: Tests
      run:  |
            sudo apt-get install build-essential
            sudo apt-get install g++-12

    - name: Update Vcpkg and install other dependencies.
      run: | 
            sudo apt-get install nasm
            cd /usr/local/share/vcpkg
            ./bootstrap-vcpkg.sh
            git stash
            git pull
            vcpkg update

    - name: Install xxHash
      run: |
            vcpkg install xxHash:x64-linux

    - name: Configure CMake
      working-directory: ./
      run: |
           cmake -S . -B ./Build -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DCMAKE_CXX_COMPILER=/usr/bin/g++-12 -DCHRISHENDO_QUALITY_TEST=true -DVCPKG_DIR=/usr/local/share/vcpkg

    - name: Build the Test
      working-directory: ./Build
      run: |
           cmake --build . --config=${{matrix.build_type}}

    - name: Install the Test
      working-directory: ./Build
      run: |
           sudo cmake --install . --config=${{matrix.build_type}}

    - name: Run the Test
      working-directory: ./Build/Tests/Quality
      run: |
           ./Hash-Performance
      continue-on-error: true